<h1>Edit Program</h1>

<!-- CHANGE TO PATCH METHOD!!! -->
<form method="POST" action="/programs">

<label for="title">Show Title:</label>
<input type="text" name="title">
<!-- Prepopulate with their original input -->

<label for="playwright">Playwright:</label>
<input type="text" name="playwright">
<!-- Prepopulate with their original input -->

<label for="dates">Show Dates:</label>
<input type="text" name="dates">
<!-- Prepopulate with their original input -->

<label for="company">Production Company:</label>
<input type="text" name="company">
<!-- Prepopulate with their original input -->

<label for="director">Director:</label>
<input type="text" name="director">
<!-- Prepopulate with their original input -->

<label for="crew_members">Crew Credits:</label>
<input type="text" name="crew_members">
<!-- Prepopulate with their original input -->

<label for="performers">Performer Credits:</label>
<input type="text" name="performers">
<!-- Prepopulate with their original input -->

</form>