<% if User.is_logged_in?(session) %>

    <h1>Draft New Program</h1>

    <form method="POST" action="/programs">

    <label for="title">Show Title:</label>
    <input type="text" name="title">

    <label for="playwright">Playwright:</label>
    <input type="text" name="playwright">

    <label for="dates">Show Dates:</label>
    <input type="text" name="dates">

    <label for="company">Production Company:</label>
    <input type="text" name="company">

    <label for="director">Director:</label>
    <input type="text" name="director">

    <label for="crew_members">Crew Credits:</label>
    <input type="text" name="crew_members">

    <label for="performers">Performer Credits:</label>
    <input type="text" name="performers">

    <input type="submit" value="Submit Draft">

    </form>

<% else %>
    <p>You must <a href="/login">log in</a> to create a program.<p>
<% end %>
