<h1>Draft New Program</h1>

<form method="POST" action="/programs">

<label for="program[title]">Show Title:</label>
<input type="text" name="program[title]">

<label for="program[playwright]">Playwright:</label>
<input type="text" name="program[playwright]">

<label for="program[dates]">Show Dates:</label>
<input type="text" name="program[dates]">

<label for="program[company]">Production Company:</label>
<input type="text" name="program[company]">

<label for="program[director]">Director:</label>
<input type="text" name="program[director]">

<!-- Way to specify the number of cast members? -->

<label for="program[performers][][name]">Performer:</label>
<input type="text" name="program[performers][][name]">
<label for="program[performers][][role]">Role:</label>
<input type="text" name="program[performers][][role]">

</form>
