<h1>Draft New Program</h1>

<form method="POST" action="/programs">

<label for="title">Show Title:</label>
<input type="text" name="title">

<label for="playwright">Playwright:</label>
<input type="text" name="playwright">

<label for="company">Production Company:</label>
<input type="text" name="company">

<label for="director">Director:</label>
<input type="text" name="director">

<!-- Way to specify the number of cast members? -->

<label for="actor">Actor:</label>
<input type="text" name="actor">
<label for="role">Role:</label>
<input type="text" name="role">

</form>
